@use '../../global';

.about {
    padding: global.$header-height 3rem 0;

    article {
        padding-top: 1rem;
        color: global.$primary-color;

        .profile_img {
            width: 40%;
            max-width: 200px;
            float: left;
            margin-right: 1.5rem;

            @media screen and (min-width: global.$tablet){
                margin-right: 2rem;
            }
        }

        .description {
            text-align: left;

            @media screen and (min-width: global.$tablet){
                text-align: justify;
            }

            > a {
                color: global.$quaternary-color;
            }

            .margin_10_0 {
                margin: 1rem 0; 
            }
        }
    }
}