@use '../../global';

@mixin button() {
    width: 2.5rem;
    height: 2.5rem;
    margin: .5rem;
    border: none;
    border-radius: 50%;
    outline: 2px solid global.$lightgrey-color;
    background-color: transparent;
    transition: all .3s;

    &:hover {
        outline-color: global.$tertiary-color;
    }

    & + & {
        margin-bottom: 1rem;
    }

    > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: fit;
    }

    > span {
        display: none;
        position: absolute;
        top: 2rem;
        right: -2rem;
    }
}

.switch_lang_ctn {
    position: absolute;
    //top: calc(global.$header-height - 2.5rem) / 2;
    top: 1.2rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 2.5rem;
    z-index: 10;

    @media screen and (min-width: global.$tablet) {
        left: unset;
        right: 2rem;
    }

    .current_lang_btn {
        @include button();
    }

    .lang_menu {
        position: absolute;
        border-radius: 20px;
        background-color: global.$grey-color;

        .lang_btn {
            position: relative;
            @include button();
        }
        .grey_outline {
            outline-color: global.$darkgrey-color;
        }
    }
}