@use '../../global';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - global.$header-height - global.$footer-height);
    padding-top: global.$header-height;

    h1 {
        margin: 0;
        font-weight: 700;
        font-size: 4rem;
    }

    .subtitle {
        font-family: global.$title-font;
        font-weight: 600;
        font-size: 3rem;
        color: global.$quaternary-color;
    }

    .text {
        font-family: global.$title-font;
        font-size: 1.8rem;
        color: global.$lightgrey-color;
    }
}