@use '../../global';

.home_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - global.$footer-height);
    padding: global.$header-height 2rem;

    h1 {
        margin: 0;
        font-weight: 700;
        font-size: 4rem;
    }

    .subtitle {
        font-family: global.$title-font;
        font-weight: 600;
        font-size: 3rem;
        color: global.$tertiary-color-2;
    }

    .home_typewriter_ctn {
        > span:first-child {
            color: transparent;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
        }
        display: flex;
        justify-content: center;
        font-family: global.$title-font;
        font-size: 1.8rem;
        color: global.$lightgrey-color-1;

        .typewriter {
            margin-right: .5rem;
        }
    }
}