@use '../../global';

.intro {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    &_section {
        width: 100%;
        margin-bottom: 6rem;

        .enter_btn {
            padding: 1rem 1.6rem;
            border: 4px solid global.$tertiary-color;
            border-radius: 8px;
            color: global.$tertiary-color;
            text-transform: uppercase;
            transition: all .3s;

            &:hover {
                border-color: white;
                color: white;
            }
        }
    }
}