.blur_ctn {
    /*width: 100px;
    height: 100px;

    background-image: url('../../../public/img/projects/screenshots/small/dimitravel-desktop-home.png');
    -webkit-transition: background-image 3s ease-in-out;
    transition: background-image 3s ease-in-out;*/
}