@use '../../global';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-bottom: 1px solid global.$grey-color;
    background-color: global.$secondary-color;
    
    nav {
        display: flex;
        //align-items: center;
        height: 100%;
        @media screen and (min-width: global.$tablet) {
            justify-content: center;
        }

        .logo_ctn {
            position: relative;
            height: 100%;

            @media screen and (min-width: global.$tablet) {
                display: flex;
                justify-content: center;
            }

            img {
                width: 60px;
                height: 48px;
                margin: 5px 0;
            }
            
        }

        .links_ctn {
            display: inline-flex;
            align-items: center;
            height: 100%;
            
            a {
                margin: auto 0;
                padding: .4rem .8rem;
                font-family: global.$title-font;
                color: global.$primary-color;
                text-transform: uppercase;
                transition: all 1s;
                
                @media screen and (min-width: global.$tablet) {
                    display: block;
                    padding: 2rem;
                    border-top: 1px solid global.$darkgrey-color;
                    font-weight: 600;
                }

                &:hover {
                    color: global.$primary-color;
                }
            }
        }
    }
}