@use '../../global';

.projects {
    padding: global.$header-height 2rem 2rem;

    &_grid {
        padding-top: 1rem;
        @media screen and (min-width: global.$desktop){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }
}