@use '../../global';

.projects {

    @media screen and (min-width: global.$tablet) {   

    }

    > article {
        text-align: left;

        h2 {
            margin: 1rem 0;
            font-size: 2.2rem;
        }

        p {
            
        }

        .subtitle {

        }

        .project_link {
            padding: 0 .5rem;
            font-weight: 600;
        }
    }
}